.container {
  width: calc(100% - 15%);
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  background: $basic-white;
  overflow: hidden;

  @media (#{$screen-tablet}) {
    width: calc(100% - 20%);
    margin: 0 auto;
  }

  @media (#{$screen-desktop}) {
    width: calc(100% - 25%);
    margin: 0 auto;
  }
}
