.corporate {
  @media (#{$screen-tablet}) {
    grid-row: 2;
    grid-column: 1/3;
    border-top: 1px solid $footer-border-gray;
    margin: 0 21px 0;
    padding: 30px 0 0;
  }
}

.corporate__text {
  margin: 0;
  padding: 0 36px;
  font-family: $basic-font;
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 400;
  color: $prices-subtitle-dark-transparent;
}
