.menu {
  width: calc(100% + 32px);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16.5px 0 14.5px 16px;
  margin: 0 -16px;

  @media (#{$screen-tablet}) {
    width: calc(100% + 42px);
    padding: 18.5px 0 14.5px 21px;
    margin: 0 -21px;
  }
}

.menu__logo {

}

.menu__button {

}
