.nav {
  width: 100%;
}

.nav__list {
  width: 100%;
  padding: 84px 0 284px;
}

.nav-list__item {
  position: relative;
  width: calc(100% + 32px);
  margin: 0 -16px 30px -16px;
  padding: 17px 16px;
  font-family: $basic-font;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  background: $nav-item-gray;

  @media (#{$screen-tablet}) {
    width: calc(100% + 42px);
    margin: 0 -21px 30px;
  }

  &:last-child {
    margin: 0 -16px 0 -16px;

    @media (#{$screen-tablet}) {
      margin: 0 -21px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 25px;
    border-bottom: 2px solid $arrow-gray;
    border-right: 2px solid $arrow-gray;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
  }
}

.nav-list__link {
  color: $nav-link-black;
}
