.promo {
  width: calc(100% + 32px);
  margin: 0 -16px;

  @media (#{$screen-tablet}) {
    padding: 0 0 94px;
    margin: 0 -16px 80px;
  }
}

.promo__wrapper {
  width: calc(100% + 32px);
  height: 235px;
  margin: 0 -16px;
  padding: 81px 20px 82px;
  background: $bg-gray url("/img/greece-promo-mobile.jpg") center /cover no-repeat;

  @media (#{$screen-tablet}) {
    height: 344px;
    padding: 60px 20px 82px;
    background: $bg-gray url("/img/greece-promo-tablet.jpg") center /cover no-repeat;
  }
}

.promo__title {
  width: 230px;
  font-family: $basic-font;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  color: $basic-white;

  @media (#{$screen-tablet}) {
    width: 100%;
    font-size: 30px;
    line-height: 45px;
  }
}

.promo__text {
  padding: 20px 24px;
  font-family: $basic-font;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -.47px;
  text-align: center;
  color: $basic-black;

  @media (#{$screen-tablet}) {
    width: 398px;
    font-size: 16px;
    line-height: 27.2px;
    letter-spacing: -.47px;
    color: $basic-white;
    margin: -240px auto 15px;
    padding: 0;
  }
}

.promo__button {
  position: relative;
  text-align: left;
  margin: 0 0 108px;

  @media (#{$screen-tablet}) {
    margin: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: $basic-white;
  }

  &::before {
    top: 21px;
    right: 40px;
    width: 11px;
    height: 11px;
    border-bottom: 1px solid $basic-white;
    border-right: 1px solid $basic-white;
    transform: rotate(45deg);
    background: transparent;
  }

  &::after {
    top: 18px;
    right: 45px;
    width: 1px;
    height: 14px;
    background: $basic-white;
  }
}
