.questions {
  width: calc(100% + 32px);
  margin: 0 -16px;
  padding: 50px 0 50px;
  background: $nav-item-gray;

  @media (#{$screen-tablet}) {
    width: calc(100% + 42px);
    margin: 0 -21px;
    padding: 70px 55px 74.5px;
    background: $bg-gray url("/img/questions-tablet.jpg") center /cover no-repeat;
  }
}

.questions__form {
  @media (#{$screen-tablet}) {
    padding: 50px;
    background: $basic-white;
    border-radius: 5px;
  }
}
